# -*- coding: utf-8 -*-

DB_HOST = ""
DB_PORT = 5432
DB_NAME = "trmetrics"
DB_USER = ""
DB_PASSWORD = ""
DB_CONNECT_TIMEOUT_SECONDS = 5
DB_STATEMENT_TIMEOUT_MS = 10000

CLI_COMMAND_TIMEOUT_SECONDS = 10
WATCHER_COMMAND_TIMEOUT_SECONDS = 20

ACTOR_LOCK_FILE = "/tmp/alerter_actor.lock"
ACTOR_LOCK_TIMEOUT_SECONDS = 10
ACTOR_LOCK_RETRY_INTERVAL_SECONDS = 0.2
ACTOR_MAX_RUNTIME_SECONDS = 30

LOG_MAX_SIZE_BYTES = 104857600
LOG_KEEP_SIZE_BYTES = 83886080


# Jira Assets / Insight
# Put the real token only into config/local_settings_and_secrets.py.
JIRA_TOKEN = ""

INSIGHT_SERVICE_URL = "https://hd.samoletgroup.ru/rest/assets/1.0/object/{insight_id}/attributes"
INSIGHT_GROUP_URL = "https://hd.samoletgroup.ru/rest/assets/1.0/object/{group_id}/attributes"
INSIGHT_AUTH_TOKEN = JIRA_TOKEN
INSIGHT_REQUEST_TIMEOUT_SECONDS = 5
INSIGHT_VERIFY_SSL = True

INSIGHT_ACTUAL_STATUS_VALUE = "Актуально"
INSIGHT_FULL_NAME_ATTRIBUTE_ID = 63
INSIGHT_STATUS_ATTRIBUTE_ID = 126
INSIGHT_FUNCTION_OBJECT_ATTRIBUTE_ID = 2066
INSIGHT_RESPONSIBLE_GROUP_ATTRIBUTE_ID = 2551
INSIGHT_JIRA_INCIDENT_TYPE_ATTRIBUTE_ID = 2413
INSIGHT_RECIPIENT_ATTRIBUTE_IDS = [2543, 2542]
INSIGHT_MANDATORY_RECIPIENTS = []

# Jira incident creation
JIRA_CREATE_INC_URL = ""
JIRA_ISSUE_BROWSE_URL = ""
JIRA_PROJECT_ID = ""
JIRA_ISSUE_TYPE_ID = ""
JIRA_PRIORITY_NAME = "Авария"
JIRA_INSIGHT_CUSTOM_FIELD = "customfield_19700"
JIRA_INCIDENT_TYPE_CUSTOM_FIELD = "customfield_35901"
JIRA_FUNCTION_CUSTOM_FIELD = "customfield_23400"
JIRA_FIXED_OBJECT_CUSTOM_FIELD = "customfield_27602"
JIRA_FIXED_OBJECT_KEY = ""
JIRA_REQUEST_TIMEOUT_SECONDS = 10
JIRA_VERIFY_SSL = True

# Recipient resolver API
RECIPIENT_RESOLVER_URL = ""
RECIPIENT_RESOLVER_TIMEOUT_SECONDS = 10
RECIPIENT_RESOLVER_VERIFY_SSL = True
RECIPIENT_RESOLVER_TOKEN = ""

# KTalk Matrix bearer user
KTALK_BASE_URL = "https://chat.ktalk.ru"
KTALK_ROOM_ID = ""
KTALK_BEARER_TOKEN = ""
KTALK_HOST = "chat.ktalk.ru"
KTALK_ORIGIN = "https://samoletgroup.ktalk.ru"
KTALK_TALK_HOST = "https://samoletgroup.ktalk.ru"
KTALK_TALK_TOKEN = ""
KTALK_REQUEST_TIMEOUT_SECONDS = 30
KTALK_VERIFY_SSL = False
KTALK_MESSAGE_SEARCH_LIMIT = 50
KTALK_MESSAGE_SEARCH_ATTEMPTS = 3
KTALK_MESSAGE_SEARCH_DELAY_SECONDS = 1
KTALK_AGGREGATE_MESSAGE_REPEAT_COUNT = 3
KTALK_AGGREGATE_MESSAGE_REPEAT_INTERVAL_SECONDS = 60
