# -*- coding: utf-8 -*-

DB_HOST = ""
DB_PORT = 5432
DB_NAME = "trmetrics"
DB_USER = ""
DB_PASSWORD = ""
DB_CONNECT_TIMEOUT_SECONDS = 5
DB_STATEMENT_TIMEOUT_MS = 10000

CLI_COMMAND_TIMEOUT_SECONDS = 10
WATCHER_COMMAND_TIMEOUT_SECONDS = 20

ACTOR_LOCK_FILE = "/tmp/alerter_actor.lock"
ACTOR_LOCK_TIMEOUT_SECONDS = 10
ACTOR_LOCK_RETRY_INTERVAL_SECONDS = 0.2
ACTOR_MAX_RUNTIME_SECONDS = 30

LOG_MAX_SIZE_BYTES = 104857600
LOG_KEEP_SIZE_BYTES = 83886080
